apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: external-dns-private
spec:
  generators:
    - clusters:
        selector:
          matchLabels:
            vertexinc.com/cluster_version: "3"
  template:
    metadata:
      name: "external-dns-private-{{ name }}"
      labels:
        app.kubernetes.io/name: "external-dns-private-{{ name }}"
      namespace: argocd
    spec:
      ignoreDifferences:
        - group: argoproj.io
          jsonPointers:
            - /status
          kind: Application
      project: managed-services
      destination:
        server: "{{ server }}"
        namespace: "external-dns-private"
      source: 
        repoURL: "{{ metadata.annotations.vertexinc.com/argocd-config-repo }}"
        targetRevision: "{{ metadata.labels.vertexinc.com/revision }}"
        path: charts/umbrella-external-dns-private
        helm:
          valueFiles:
            - values.yaml
            - values-{{ name }}.yaml
          parameters:
            - name: "external_dns.serviceAccount.annotations.eks\\.amazonaws\\.com/role-arn"
              value: arn:aws:iam::{{ metadata.labels.vertexinc.com/account }}:role/{{ name }}-external-dns-irsa
          ignoreMissingValueFiles: true
      syncPolicy:
        automated:
          prune: true
          allowEmpty: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true