apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "3"
  labels:
  name: managed-services
  namespace: argocd
spec:
  generators:
    - clusters:
        selector:
          matchLabels:
            vertexinc.com/cluster_version: "3"
  template:
    metadata:
      name: "managed-services-{{ name }}"
      labels:
        app.kubernetes.io/instance: argocd
        app.kubernetes.io/part-of: argocd
        app.kubernetes.io/managed-by: argocd
        app.kubernetes.io/name: "managed-services-{{ name }}"
        vertexinc.com/cluster: "{{name}}"
        vertexinc.com/app_type: managed-service
      namespace: argocd
    spec:
      ignoreDifferences:
        - group: argoproj.io
          jsonPointers:
            - /status
          kind: Application
      project: managed-services
      destination:
        server: "{{ server }}"
        namespace: argocd
      source:
        repoURL: "{{ metadata.annotations.vertexinc.com/argocd-config-repo }}"
        targetRevision: "{{ metadata.labels.vertexinc.com/revision }}"
        path: charts/managed-services
        helm:
          valueFiles:
            - values.yaml
            - values-{{ name }}.yaml
          ignoreMissingValueFiles: true
          parameters:
            - name: argocd.cluster
              value: "{{ name }}"
            - name: argocd.destServer
              value: "{{ server }}"
            - name: vertexLabels.cloudProvider
              value: "{{ metadata.labels.vertexinc.com/cloud_provider }}"
            - name: vertexLabels.kubernetesProvider
              value: "{{ metadata.labels.vertexinc.com/kubernetes_provider }}"
            - name: vertexLabels.region
              value: "{{ metadata.labels.vertexinc.com/region }}"
            - name: vertexLabels.stack
              value: "{{ metadata.labels.vertexinc.com/stack }}"
            - name: vertexLabels.environment
              value: "{{ metadata.labels.vertexinc.com/environment }}"
            - name: vertexLabels.shortEnv
              value: "{{ metadata.labels.vertexinc.com/shortEnv }}"
            - name: vertexLabels.shortName
              value: "{{ metadata.labels.vertexinc.com/shortName }}"
            - name: vertexLabels.vpc
              value: "{{ metadata.labels.vertexinc.com/vpc }}"
            - name: vertexLabels.account
              value: "{{ metadata.labels.vertexinc.com/account }}"
            - name: vertexAnnotations.project
              value: "{{ metadata.labels.vertexinc.com/project }}"
            - name: vertexLabels.component
              value: "{{ metadata.labels.vertexinc.com/component }}"
            - name: vertexAnnotations.owner
              value: "{{ metadata.annotations.vertexinc.com/owner }}"
            - name: vertexAnnotations.product
              value: "{{ metadata.annotations.vertexinc.com/product }}"
            - name: vertexAnnotations.sourceCode
              value: "{{ metadata.annotations.vertexinc.com/source-code }}"
            - name: vertexAnnotations.documentation
              value: "{{ metadata.annotations.vertexinc.com/documentation }}"
            - name: vertexAnnotations.defaultDomain
              value: "{{ metadata.annotations.vertexinc.com/default-domain }}"
            - name: vertexAnnotations.sslCertArns
              value: "{{ metadata.annotations.vertexinc.com/ssl-cert-arns }}"
            - name: vertexAnnotations.internalInboundCidrs
              value: "{{ metadata.annotations.vertexinc.com/vpc-cidrs }}"
            - name: vertexAnnotations.wafv2AclArn
              value: "{{ metadata.annotations.vertexinc.com/wafv2-acl-arn }}"
            - name: vertexAnnotations.publicDnsZones
              value: "{{ metadata.annotations.vertexinc.com/public-dns-zones }}"
            - name: vertexAnnotations.privateDnsZones
              value: "{{ metadata.annotations.vertexinc.com/private-dns-zones }}"
      syncPolicy:
        automated:
          prune: true
          allowEmpty: true
          selfHeal: true
        syncOptions:
          - PruneLast=true
          #- Replace=true
