---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

commonLabels:
  app.kubernetes.io/instance: argocd
  app.kubernetes.io/part-of: argocd
  app.kubernetes.io/managed-by: argocd

resources:
  - argocd-ns.yaml
  - argocd-rbac-cm.yaml
  - projects
  - ../apps
