apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: metrics-server
spec:
  generators:
    - clusters:
        selector:
          matchLabels:
            vertexinc.com/cluster_version: "3"
  template:
    metadata:
      name: "metrics-server-{{ name }}"
      labels:
        app.kubernetes.io/name: "metrics-server-{{ name }}"
      namespace: argocd
    spec:
      ignoreDifferences:
        - group: argoproj.io
          jsonPointers:
            - /status
          kind: Application
      project: managed-services
      destination:
        server: "{{ server }}"
        namespace: "metrics-server"
      source: 
        chart: umbrella-metrics-server
        repoURL: https://github.com/jharlow1/argocd-jason.git
        targetRevision: "{{ metadata.labels.vertexinc.com/revision }}"
        path: charts/umbrella-metrics-server
        helm:
          valueFiles:
            - values.yaml
            - values-{{ name }}.yaml
      syncPolicy:
        automated:
          prune: true
          allowEmpty: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
